<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>This is main page after login</h2>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <h1><a href="admin/start">Start as Admin</a></h1>
    <h1><a href="user/info">Start as User</a></h1>
    <h2><a href="/logout">logout</a></h2>
</div>
</body>
</html>